body{
    background: var(--color-lightslategray);
    background-image: linear-gradient(
      115deg,
      rgba(255, 255, 255, 0.5),
      rgba(136, 136, 206, 0.7)
    ),
   url(/Survey\ Form/cityscape.jpg);
    background-color: lightslategray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
h1{
    font-size: 60px;
    font-weight: 500; 
    font-family: 'Solway',serif;
}
p{
    font-size: 26px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    height: 100%;   
}
.title{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0 15% 0 15%;
}
.description{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0% 10% .1% 10%;
    width: 70%
}

form{
    background-color: rgba(57, 71, 71, 0.836);
    border: 30px solid rgba(57, 71, 71, 0.12);
    border-radius: 5px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 20% 0% 20%;
}
.form-group{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Solway', serif;
    font-size: 22px;
    color: white;
    font-weight: 400;
    width: 100%;
    margin: 0 0 1% 0;
}

.text-label{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    height: auto;
    margin: 0 5% 1% 0%;
    padding-left: auto;
    padding-right: auto;
    font-family: 'Solway', serif;
    font-size: 22px;
}
.text-input{
    display: flex;
    text-align: start;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: 0;
    border: deepskyblue solid 2.25px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size:20px;
}

select{
    border: deepskyblue solid 2.25px;
    border-radius: 5px;
    color:rgba(47, 47, 79, 0.85);
}
#website-type{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: left;
    font-family: 'Solway', serif;
    font-size: 22px;
}
.dropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size:20px;
    margin-bottom:1%;
}
@media screen and (min-width: 1410px){
    #website-type{
        display: flex;
        flex-direction: row;
        flex-shrink: 2;
        text-align: left;
        width: 100%;
        height: auto;
        margin: 1% 0% 0% 0%;
        padding-left: auto;
        padding-right: auto;
        font-size: 22px;
    } 
    .dropdown{
        display: flex;
        text-align: start;
        width: 50.5%;
        height: auto;
        margin-left: auto;
        margin-right: 0;
        font-family: 'Lato', sans-serif;
        font-size:20px;    
    }
}

.features-box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    width: 100%;
    margin-right: 3%;
    height: auto;
}
@media screen and (min-width:1050px){ 
    .outer-box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
    }
    .features-box{
        display: inline-flex;
        flex-direction: column;
        flex: 1 1 29%;
        justify-content: center;
        text-align: left;
        width: 100%;
        margin-right: 3%;
        height: auto;
    }
}

.discover-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    flex: 1 1 30%;
    justify-content: space-between;
}
.discover{
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    text-align: left;
    width: 100%;
    height: auto;
}
@media screen and (min-width:975px){
    .discover-box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: left;
    }
    .discover{
        display: inline-flex;
        flex-direction: row;
        flex: 1 1 29%;
        justify-content: left;
        text-align: left;
        width: auto;
        height: auto;
    }
}

.textarea-input{
    font-family: 'Lato', sans-serif;
    font-size:20px;
    border: deepskyblue solid 2.25px;
    border-radius: 5px;
    color:rgba(47, 47, 79, 0.85);
}

.submit-button{
    margin: 2% 25% -2% 25%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size:20px;
    border: deepskyblue solid 2.25px;
    border-radius: 5px;
    color:rgba(47, 47, 79, 0.85);
    background-color: rgba(255, 255, 255, 0.979);
}

